/*

Tooplate 2113 Earth

https://www.tooplate.com/view/2113-earth

*/

@keyframes seq-preloader {
  50% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
  }
}

.seq-preloader {
  background: white;
  visibility: visible;
  opacity: 1;
  position: absolute;
  z-index: 99999999;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.seq-preloader.seq-preloaded {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s .5s, opacity .5s;
}

.seq-preload-indicator {
  overflow: visible;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.seq-preload-circle {
  display: inline-block;
  height: 12px;
  width: 12px;
  fill: #7a7a7a;
  opacity: 0;
  animation: seq-preloader 1.25s infinite;
}

.seq-preload-circle-2 {
  animation-delay: .15s;
}

.seq-preload-circle-3 {
  animation-delay: .3s;
}

.seq-preload-indicator-fallback {
  width: 42px;
  overflow: visible;
}

.seq-preload-indicator-fallback .seq-preload-circle {
  width: 8px;
  height:8px;
  background-color: #f4f4f4;
  border-radius: 100%;
  opacity: 1;
  display: inline-block;
  vertical-align: middle;
}

.seq-preload-indicator-fallback .seq-preload-circle-2 {
  margin-left: 3px;
  margin-right: 3px;
  width: 12px;
  height: 12px;
}

.seq-preload-indicator-fallback .seq-preload-circle-3 {
  width: 16px;
  height: 16px;
}


/* MAIN CSS */

@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #fff;
  }
}
@keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #fff;
  }
}
@-webkit-keyframes fillColour {
  0% {
    color: #fff;
  }
  50% {
    color: #fff;
  }
  100% {
    color: #333;
  }
}
@keyframes fillColour {
  0% {
    color: #fff;
  }
  50% {
    color: #fff;
  }
  100% {
    color: #333;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
	overflow: hidden;
}

body {
  overflow: hidden;
  font-size: 100%;
}

nav {
	top: 15%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  z-index: 10;
  height: 90%;
  left: 0;
  width: 15%;
  font-weight: 300;
  font-size: 1rem;
  transition: background-color 1s;
}

nav:hover{
  background-color: rgba(0, 0, 0, 0.9);
}

nav em {
	font-style: normal;
	font-size: 13px;
	text-transform: uppercase;
	display: block;
	margin-top: 15px;
	color: #fff;
}

nav ul li a {
	text-align: center;
}

nav ul {
	position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	text-align: left;
	list-style-type: none;
	height: 70%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
	-ms-flex-pack: distribute;
  justify-content: space-around;
}

nav ul li {
	text-align: center;
	margin: 5px 0px;
}

nav a, nav a:visited, nav a:active {
  color: #fff;
}

nav a {
	text-decoration: none!important;
	display: inline-block;
	width: 140px;
	padding: 15px 0px;
	position: relative;
	z-index: 0;
	transition: all .5s;
}

nav a:hover, nav a:active {
  background-color: #e983245b;
}

nav a::before {
  content: "";
  position: absolute;
  height: 0%;
  width: 0%;
  bottom: 0;
  left: 0;
  opacity: 1;
  z-index: -1;
}

.logo {
	margin-top: 0px;
  top: 0;
  left: 0;
  z-index: 9;
  position: fixed;
 	display: inline-block;
  text-align: center;
	height: 15%;
	width: 15%;
}

.slides {
  width: 500vw;
  height: 100vh;
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: -webkit-transform 0.8s ease;
  transition: transform 0.8s ease;
  transition: transform 0.8s ease, -webkit-transform 0.8s ease;
}

.slides .slide {
  height: 100vh;
  width: 100vw;
  float: left;
  text-align: center;
  background-size: cover;
}

.slides .slide .content {
  overflow-y: scroll;
  position: relative;
  width: 80%;
  height: 85%;
  left: 20%;
  top: 10%;
}

.content::-webkit-scrollbar {
  display: none!important;
  opacity: 0!important;
  visibility: hidden!important;
}

/* Add a thumb */
.content::-webkit-scrollbar-thumb {
  display: none!important;
  opacity: 0!important;
  visibility: hidden!important;
}

.slides .slide {
  background-position: center center;
  background-size: cover;
  background-position: fixed;
}

.slides .slide:nth-child(2) {
  background-image: url(../images/about-bg.jpg);
  background-position: fixed;
}
.slides .slide:nth-child(3) {
  background-image: url(../images/gallery-bg.jpg);
  background-position: fixed;
}
.slides .slide:nth-child(4) {
  background-image: url(../images/contact-bg.jpg);
  background-position: fixed;
}


/* Slide 1 Stlye */

#slider-wrapper{
  max-width: 100%;
  width: 100%;
  height: 100%;
  position: relative;
}
#image-slider {
  width: auto;
  height: auto;
  position: relative;
  overflow: hidden;
  margin: auto;
  display: block;
}
#image-slider ul {
  margin-bottom: 0;
  width: 100%;
  height: 100vh;
  position: relative;
}

#image-slider ul li {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height:100%; 
}

#image-slider ul li {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}

#image-slider ul li:nth-child(1) {
  background-image: url(../images/full-bg-01.jpg);
}

#image-slider ul li:nth-child(2) {
  background-image: url(../images/full-bg-02.jpg);
}

#image-slider ul li:nth-child(3) {
  background-image: url(../images/full-bg-03.jpg);
}

#image-slider ul li.active-img{
  left: 0;
}

#thumbnail {
  position: absolute;
  z-index: 5;
  bottom: 30px;
  right: 40px;
}

#thumbnail ul {
  padding: 0px;
  margin: 0px;
}

#thumbnail ul li {
  display: inline-block;
  width: 120px;
  height: 120px;
  margin-left: 30px;
  cursor: pointer;
  transition: all 0.5s;
}

#thumbnail ul li.active {
  border: 3px solid #e98324d2;
  text-shadow: rgb(22, 22, 22) 1px 1px;
}

#thumbnail ul li span {
  position: absolute;
  color:  rgba(255, 255, 255, 0.8);
  margin-left: 5px;
  margin-top: 5px;
  font-size: 15px;  
}

#thumbnail ul li img {
  min-width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.slide-caption {
  text-align: right;
  right: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slide-caption h2 {
  margin-top: 0px;
  font-size: 68px;
  font-weight: 600;
  color: #fff;
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;

}

.slide-caption p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  max-width: 350px;
}

/* Slide 2 Style */

.second-content {
	top: 165%!important;
	transform: translateY(-180%);
}
#tabs {
  float: right;
  margin-right: 0px;
}

#tabs ul {
  margin: 0;
  float: left;
}

#tabs ul li {
  margin-top: 5px;
  margin-bottom: 25px;
  display: block;
}
#tabs ul li:last-child {
  margin-bottom: 0px;
}
#tabs ul li a {
  display: block;
  cursor: pointer;
  outline: 0;
  border: none;
  color: #6a6a6a;
  text-decoration: none;
  text-transform: uppercase;
}
#tabs ul li span {
  text-align: center; 
  background-color: rgba(0, 0, 0, 0.3);
  border: 3px solid #fff;
  color: #fff;
  width: 90px;
  height: 90px;
  font-size: 32px;
  line-height: 84px;
  border-radius: 50%;
}

#tabs ul .ui-tabs-active span {
  background: #e98224;
  border: #e98224;
  line-height: 90px;
  border-bottom: none;
}
#tabs ul .ui-tabs-active a {
  color: #fff;
}
#tabs ul .ui-tabs-active span {
  color: #fff;
}

.tabs-content {
  color: rgba(255, 255, 255, 0.9);;
  margin-left: 60px;
  width: 585px;
  text-align: left;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.75);
  margin-right: 30px;
  padding: 45px;
  transition: background-color 0.5s;
}

.tabs-content:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.tabs-content .content-title {
  text-align: center;
  color: rgba(255, 255, 255);
}

.tabs-content h2 {
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 0px;
  border-bottom: solid 1px #e98324ce;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.tabs-content span {
  font-size: 15px;
  font-weight: 600;
}

.tabs-content p {
  font-size: 15px;
  margin-top: 25px;
  margin-bottom: 0px;
  text-align: justify;
}

#contact-step {
  font-size: 12px;
}

.contact-step-li a{
  color: rgba(212, 188, 107, 0.85)!important;
  transition: color 0.5s;  
}

.contact-step-li a:hover {
  color:rgb(85, 199, 199)!important;
}


/* Slide 3 Style */

.third-content {
	top: 120%!important;
	transform: translateY(-120%);
  padding-top: 4%;
}

.owl-carousel .owl-stage {
  left: 0px; 
}

.third-slide a {
  text-decoration: none!important;
}

.featured-item {
  text-align: center;
}

.featured-item img {
  width: 100%;
}

.featured-item .down-content {
  background-color: #e98324cb;
  padding: 15px;
  transition: background-color 0.7s;
}

.featured-item h4 {
  margin-top: 0px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

.owl-dots {
  text-align: center;
  margin-top: 30px;
}
.owl-dots .owl-dot {
  outline: none;
  display: inline-block;
}
.owl-dots .active span {
  background-color: #e98224!important;
}
.owl-dots .owl-dot span {
  background-color: #fff;
  width: 12px;
  height: 12px;
  display: inline-block;
  margin: 0px 5px;
  outline: none;
  cursor: pointer;
}

/* Slide 4 Style */

.fourth-content {
	top: 134%!important;
  height: 100%;
	transform: translateY(-140%);
}

#contact {
  z-index: 15;
  text-align: center;
  margin: 0 auto;
  max-width: 750px;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.8);
  transition: background-color 0.5s;
}

#contact:hover {
  background-color: rgba(0, 0, 0, 0.9); ;
}

#contact h2 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 0px;
  margin-bottom: 10px;
}

#contact p {
  font-size: 15px;
  font-weight: 600;
  color: rgb(200, 200, 200);
  margin-bottom: 30px;
}

#contact input,
#contact textarea {
  padding-left: 15px;
  background-color: #0000001a;
  border: 1px solid #fff;
  border-radius: 0px;
  height: 40px;
  font-size: 14px;
  color: #fff;
  margin-bottom: 30px;
}

#contact input:focus,
#contact textarea:focus {
  color: #fff;
  outline: none;
  box-shadow: none;
  border: 1px solid #F5A845;
  background-color: rgba(0,0,0,0.1);
}

#contact textarea {
  height: 100px;
  padding: 15px;
}

#contact button {
  border: 1px solid rgba(255, 255, 255, 0.9);
  font-size: 15px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 700;
  background-color: transparent;
  height: 44px;
  line-height: 40px;
  display: inline-block;
  padding: 0px 20px;
  cursor: pointer;
  transition: all 0.3s;
  outline: none;
}

#contact button:hover {
  background-color: #e98324e3;
  border-color: #e98324e3;
  color: rgb(255, 255, 255);
}


/* Responsive Style */


@media (min-width: 991px) {

  .logo {
    background-color: #e98324e3;
    transition: background-color 0.5s;
    padding-top: 8px;
  }

  .logo:hover {
    background-color: #e98324;
  }

  #logo2 {
    display: none;
  }

  .logo img {
    height: 90%;
  }

  #thumbnail ul li.inactive::before {
    content: "";
    position: absolute;
    top: 0;
    width: 120px;
    height: 120px;
    background-color: #242424;
    opacity: .3;
  }

  #tabs ul {
    margin-top: 13%;
  }

  .third-content .container-fluid {
    padding-left: 0px; 
  }

  .featured-item a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    margin-left: 14px;
    height: 83.5%;
    background-color: #242424;
    opacity: .2;
    transition: opacity 0.7s;
  }
  
  .featured-item a:hover {
    text-shadow: 1px 1px #2c2828;
    text-decoration: none;
  }
  
  .featured-item a:hover::before {
    opacity: 0;
  }

  .featured-item .down-content:hover {
    background-color: #e98324; 
  }

  .step-logo {
    height: 90px; 
    margin-top: 2%;
  }
  
}


@media (max-width: 991px) {

  .slides .slide .content {
    width: 100%;
    height: 100%;
    left: 0;
  }

  .second-content {
    top: 238%!important;
    transform: translateY(-250%);
  }

  .third-content {
    top: 140%!important;
    transform: translateY(-140%);
    padding-top: 5%;
  }

  .fourth-content {
    top: 215%!important;
    transform: translateY(-220%);
    margin-top: 38%;
  }

  .logo {
    border-right: solid 1px grey;
    background-color: rgba(0, 0, 0, 0.85);
    top: 0vh;
    height: 90px;
    width: 15vw;
  }

  .logo img {
    height: 75%;
    margin-top: 10px;
  }
  
  #logo1 {
    display: none;
  }

  nav {
    top: 0vh;
    height: 90px;
    width: 85vw;
    margin-left: 15vw;
    background-color: rgba(0, 0, 0, 0.85);
  }
  nav ul {
    flex-direction: row;
  }
  nav ul li {
    display: inline;
    margin: 0px;
  }
  nav ul li img {
	width: 35%;
  }
  nav ul li em {
    display: none;
  }
  nav a {
  	text-align: center;
	  width: 60px;
	  height: 60px;
    line-height: 30px;
    display: inline-block;
  }
  .second-slide {
    top: 140px;
  }

  .tabs-content {
    max-height: 420px;
    width: auto;
    text-align: center;
    margin: 0px 30px;
    padding: 20px;
    overflow-y: scroll;
  }

  .tabs-content p {
    margin-top: 20px;
  }

  #tabs ul li {
    display: inline-block;
    margin: 0px 10px;
  }

  #tabs ul {
    float: none;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 100%;
    text-align: center;
  }

  #thumbnail {
    bottom: 5%;
  }

  #thumbnail ul li {
    max-width: 80px;
    max-height: 80px;
    margin-left: 10px;
  }

  #thumbnail ul li span {
    font-size: 13px;
  }

  .slide-caption {
    padding-left: 30px;
  }

  .slide-caption h2 {
    font-size: 55px;
    text-align: center;
  }

  .slide-caption p {
    text-align: center;
  }
  #tabs ul li span {
    width: 60px;
    height: 60px;
    font-size: 22px;
    line-height: 54px;
  }
  #tabs ul .ui-tabs-active span {
    line-height: 60px;
  }
  .featured-item {
    padding: 25px 15px;
  }

  .owl-dots {
    margin-top: 10px;
    padding-bottom: 30px;
  }
  .tabs-content h2 {
    font-size: 21px;
  }
  .third-slide {
    text-align: center;
    margin: 0px;
  }

  .step-logo {
    height: 70px; 
    margin-top: 5px;
  }

  .fourth-slide {
    margin-left: 0;
    top: 0;
    transform: translateY(0%);
    margin-top: 140px;
  }
  
  #contact h2 {
    font-size: 20px;
  }
}

@media (max-width: 420px) {


/* Slide 1 */

  .slides .slide:nth-child(2) {
    background-image: url(../images/about-bg-small.jpg);
    background-position: fixed;
  }
  .slides .slide:nth-child(3) {
    background-image: url(../images/gallery-bg-small.jpg);
    background-position: fixed;
  }
  .slides .slide:nth-child(4) {
    background-image: url(../images/contact-bg-small.jpg);
    background-position: fixed;
  }
  #image-slider ul li:nth-child(1) {
    background-image: url(../images/full-bg-01-small.jpg);
  }
  
  #image-slider ul li:nth-child(2) {
    background-image: url(../images/full-bg-02-small.jpg);
  }
  
  #image-slider ul li:nth-child(3) {
    background-image: url(../images/full-bg-03-small.jpg);
  }
  
  #thumbnail {
    left: 8%;
  }



/* Slide 2 */
  
  .tabs-content p {
    text-align: left;
  }

  #step-logo-link {
    margin-right: 5%; 
  }

  #contact-step {
    margin-top: 15px!important;
    font-size: 14px!important;
    text-align: left!important;
  }


/* Slide 3 */



/* Slide 4 */

  #contact {
    padding: 25px;
  }

  #contact p {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  #contact input,
  #contact textarea {
    padding-left: 10px;
    height: 30px;
    margin-bottom: 20px;
  }

  #contact textarea {
    height: 90px;
    padding: 10px;
  }

  #age-input {
    padding-left: 0px;
  }

}

